body {
  color: #fff;
  background: #17181c;
  font: 300 1em 'Fira Sans', sans-serif !important;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  display: flex; }

button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  color: #836EAA; }

.flip-horizontally {
  transform: scaleX(-1); }

.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto; }

a {
  text-decoration: none; }

.Select-control {
  background-color: white; }

.VirtualizedSelectOption {
  background-color: black;
  color: white; }

.Select--single > .Select-control .Select-value, .Select-placeholder {
  border: 1px solid grey;
  border-radius: 4px; }

/* dropdown menu hover effect */
.VirtualizedSelectFocusedOption {
  background-color: black;
  opacity: .7; }

/* border on focus - default is blue
 * shadow box around input box.  default is blue
 */
.is-focused:not(.is-open) > .Select-control {
  border-color: var(--primary);
  box-shadow: none; }

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em); }

#steps-left-arrow, #steps-right-arrow {
  filter: invert(1); }

.dash-dropdown {
  background-color: green; }
